parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
        - tests/

    excludePaths:
        - *_old.php

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#OAuth\\Controllers\\DevLoginController#'

    # Scan files for class definitions
    scanFiles:
        - src/vendor_load.php
        - src/bootstrap.php
